{% extends 'base.html' %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h1>Bienvenido {{ user.username }}</h1>
        </div>
    </div>

    <div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}

            <div class="mb-3 text-center mb-5">
                <label for="title" class="form-label">Crear una nueva lista:</label>
                <div class="d-flex gap-3">
                    <input type="text" id="title" name="title" class="form-control" required>
                    <button class="btn btn-primary">Crear</button>
                </div>
            </div>
        </form>

    </div>

    <div class="container">
        <div class="row d-flex justify-content-center gap-5">
            {% for list in lists %}
            <div class="card pt-4 shadow-sm p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem; height: 18rem;">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-title text-center">{{ list.title }}</h3>
                    <i class="bi bi-trash3-fill fs-4"></i>
                </div>
                <hr>
                <button type="button" class="btn btn-light d-flex justify-content-between align-items-center w-100 px-2 py-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="text-center text-primary m-0">Agregar tarea</p>
                    </div>
                    <div>
                        <i class="bi bi-plus-square-fill text-primary fs-5"></i>
                    </div>
                </button>
                <ul>
                    {% for task in list.tasks.all %}
                    <div>
                        <li class="card-text">{{ task.title }}</li>
                        <li class="card-text">{{ task.description }}</li>
                        <li class="card-text">{{ task.due_date }}</li>
                    </div>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock content %}